<section class="seccion-planes">
    <h2 class="titulo-seccion-planes">Elegí el Plan que se adapte a tu Negocio</h2>
    <p class="texto-seccion-planes">Podés elegir entre nuestros 3 tipos de subscripciones.</p>

    <div class="contenedor-planes">
        
        <div class="tarjeta-plan plan-basico">
            <h3 class="nombre-plan">Plan Básico</h3>
            <div class="precio">
                <span class="monto">GRATIS</span>
               
            </div>
            <p class="resumen-plan">Ideal para profesionales que recién comienzan a digitalizarse.</p>
            <ul class="lista-beneficios">
                <li>Perfil Público en la App</li>
                <li>Hasta XX turnos / mes</li>
                <li>Gestión de servicios y precios</li>
                <li class="beneficio-limitado">Soporte estándar (Email)</li>
            </ul>
            <a href="" class="boton boton-terciario">Comenzar Gratis</a>
        </div>
        
        <div class="tarjeta-plan plan-destacado">
            <div class="etiqueta-destacado">MÁS POPULAR</div>
            <h3 class="nombre-plan">Plan Pro </h3>
            <div class="precio">
                <span class="monto">$XXXX</span>
                <span class="frecuencia">/mes</span>
            </div>
            <p class="resumen-plan">Tudas las herramientas que necesitas para crecer.</p>
            <ul class="lista-beneficios">
                <li><span class="check">&#10003;</span> Turnos Ilimitados</li>
               
                <li><span class="check">&#10003;</span> Link de Pago Propio</li>
                <li><span class="check">&#10003;</span> Mas cosas </li>
            </ul>
            <a href="" class="boton boton-primario">Suscribirme Ahora</a>
        </div>
        
        <div class="tarjeta-plan plan-premium">
            <h3 class="nombre-plan">Plan Premium</h3>
            <div class="precio">
                <span class="monto">$XXXXXX</span>
                <span class="frecuencia">/mes</span>
            </div>
            <p class="resumen-plan">Diseñado para negocios con plata (?).</p>
            <ul class="lista-beneficios">
                <li>Todo lo del Plan Pro</li>
                <li>+ Soporte Premium</li>
                <li>+ Te canto el feliz cumpleaños</li>
            </ul>
            <a href="" class="boton boton-terciario">Contactar Ventas</a>
        </div>
    </div>
</section>