<section class="seccion-principal">
  <div class="fondo-banner">
    <img src="/veterinario1.jpg" alt="Fondo de mascotas" class="imagen-banner">
  </div>
  
  <div class="contenido-principal">
    <h1 class="titulo-principal">Hacemos llegar tus servicios <span class="destacado">a más gente</span></h1>
   <!-- <p class="texto-principal">
      Aca capaz ponemos mas texto, que se yo, algo asi bien profesional 
    </p>
    <div class="acciones-principal">
      <button class="boton boton-primario">Boton opcion 1</button>
      <a href="#" class="boton boton-secundario">Boton opcoin 2 o lo volamos</a>
    </div> -->
  </div> 
</section>

<section class="seccion-servicios">
  <div class="tarjeta-servicio">
    <div class="icono-tarjeta">
    <i class="fas fa-bullhorn"></i> </div>
    <h3 class="titulo-tarjeta">Publicá</h3>
    <p class="texto-tarjeta">Mostrá tus servicios a la comunidad</p>
    
  </div>
  <div class="tarjeta-servicio">
    <div class="icono-tarjeta">
   <i class="fas fa-calendar-alt"></i></div>
    <h3 class="titulo-tarjeta">Controlá</h3>
    <p class="texto-tarjeta">Mirá tus turnos libres y ocupados</p>
    
  </div>
  <div class="tarjeta-servicio">
    <div class="icono-tarjeta">
   <i class="fas fa-chart-line"></i></div>
    <h3 class="titulo-tarjeta">Crecé</h3>
    <p class="texto-tarjeta">Aumentá el número de clientes que confíen en tus servicios</p>
   
  </div>
</section>

<section class="seccion-transicion-planes">
    <div class="columna-imagen-planes">
        <img src="veterinaria-planes.jpg" alt="Profesional veterinario" class="imagen-planes-detalle">
    </div>
    
    <div class="columna-contenido-planes">
        <h2 class="titulo-transicion">Básico, Pro o Premium? </h2>
        <p class="texto-transicion">Descubrí nuestras opciones de suscripción y empezá a gestionar tu negocio con nosotros.</p>
        
        <a [routerLink]="['/planes']" class="boton boton-cta-grande">Ver Planes y Precios</a>
    </div>
</section>


<section class="seccion-auspiciantes">
    <h2 class="titulo-auspiciantes">Empresas que confian en nosotros</h2>
    <div class="contenedor-logos">
        <img src="/Royal-Canin-Logo.png" alt="Auspiciante 1" class="logo-auspiciante">
        <img src="pro-plan.png" alt="Auspiciante 2" class="logo-auspiciante">
        <img src="/Royal-Canin-Logo.png" alt="Auspiciante 3" class="logo-auspiciante">
        <img src="pro-plan.png" alt="Auspiciante 4" class="logo-auspiciante">
    </div>
</section>