
<div class="panel-dashboard-wrapper">
    
    <aside class="panel-sidebar">
        
        <nav class="sidebar-nav">
            <ul>

                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['perfil']">Perfil Básico</a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['turnos']">Mis Turnos</a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['servicios']">Mis Servicios</a>
                </li>
                
                
                <li class="separator"></li> 

                <li class="logout-item">
                    <a (click)="onLogoutClick()">Cerrar Sesión</a> 
                </li>
            </ul>
        </nav>
        
    </aside>

    <main class="panel-content">
        <router-outlet></router-outlet>
    </main>
    
</div>