<div class="panel-container">
    <div class="panel-card">
        <!-- CAMBIAR ESTO CUANDO TENGAMOS UN PANEL POSTA -->
        <h1 class="panel-titulo">Mi Panel Profesional</h1>
        <h2 class="panel-subtitulo">
            Bienvenidos al área de gestión de turnos y clientes.
        </h2>
        
        <div class="proximamente-bloque">
            <span class="proximamente-icono">🚧</span>
            <p class="proximamente-texto">
                Estamos trabajando para integrar todas las herramientas.
                <br>
                **¡Este panel estará disponible muy pronto!**
            </p>
        </div>

        <button class="boton-volver" [routerLink]="['/']">
            Volver a la página principal
        </button>
        
    </div>
</div>
